.functionbutton{
    display: flex;
    margin: .4rem;
}
.functionbutton i{
    width: 5rem;
}
/* Hide the default checkbox */
.checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  .checkbox {
    display: flex;
    gap: 10px;
    align-items: center;
  }
  
  
  /* Create a custom checkbox */
  .checkmark {
    position: relative;
    box-shadow: rgb(140, 0, 255) 0px 0px 0px 2px;
    background-color: rgba(16, 16, 16, 0.5);
    height: 20px;
    width: 20px;
    margin-right: 10px;
    flex-shrink: 0;
    margin-top: -1px;
    transition: all 0.2s ease 0s;
    cursor: pointer;
    transform-origin: 0px 10px;
    border-radius: 4px;
    margin: -1px 10px 0px 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  
  .checkbox input:checked ~ .checkmark {
    box-shadow: rgb(144, 0, 255) 0px 0px 0px 2px;
    background-color: rgba(116, 24, 245, 0.5);
    height: 20px;
    width: 20px;
    margin-right: 10px;
    flex-shrink: 0;
    margin-top: -1px;
    transition: all 0.2s ease 0s;
    cursor: pointer;
    transform-origin: 0px 10px;
    border-radius: 4px;
    margin: -1px 10px 0px 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .checkbox input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .checkbox .checkmark:after {
    left: 0.45em;
    top: 0.25em;
    width: 0.25em;
    height: 0.5em;
    border: solid white;
    border-width: 0 0.15em 0.15em 0;
    transform: rotate(45deg);
    transition: all 500ms ease-in-out;
  }
  